/* This is the about css which contains all the necessary script!*/
.about .filters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
}

.about .filters li {
    color: #ffff;
    padding: 10px 25px;
    background: #191919;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;; 
}

.about .filters li:hover,
.about .filters li.active {
    background: var(--primary);
}




.stella-item {
    background: #fff;
    text-align: center;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    box-shadow: 0 0 46px rgba(255, 255, 255, 0.5); 
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: url(/src/MyCursor.png) , auto /* This is my own custom cursor I made in Adobe Illustrator */
}

.stella-item:hover {
    background: #3956de;
    color:rgb(241, 215, 215);
}

.stella-item h3 {
    margin: 20px 0 1px 0 !important;
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: url(/src/line.png), pointer; /* This is my own custom line I made in Adobe Illustrator */
}

.stella-info {
    display: block;
    margin-bottom: 0;
}

.stella-info p {
    color: #3f3b3b;
    font-style: italic;
}

.stella-description p {
    color: #3f3b3b;
    font-style: italic;
    cursor: url(/src/line.png), pointer; /* This is my own custom line I made in Adobe Illustrator */
}


.stella-info::after{
    background: #008aff;
    background: -webkit-linear-gradient(
        135deg, #6B02FF 0%, #985BEF 100%
    );
    background: -o-linear-gradient(
        135deg, #6B02FF 0%, #985BEF 100%
    );
    background: -moz-linear-gradient(
        135deg, #6B02FF 0%, #985BEF 100%
    );
    background: linear-gradient(
        135deg, #6B02FF 0%, #985BEF 100%
    );

    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 50px;
    height: 3px;
    margin-top: -20px;
}

 .stella-pic{
    max-width: 140px;
    padding: 6px 6px;
    background-color: #dedede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
} 

ul.stella-icon  {
    margin-top: 25px;
}

ul.stella-icon li {
    display: inline-block;
    margin: 0 3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

ul.stella-icon li a{
    margin: 0;
    display: inline-block;
    padding: 8px 8px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
}

ul.stella-icon li a.facebook {
    background-color: #4099ff;
}

ul.stella-icon li a.youtube {
    background-color: #c50b0b;
}

.stella-icon li a:hover {
    color:#dedede;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}


@media screen and (max-width: 768px) {

    .about .filters {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 10px;
        margin-top: 50px;
    }
    
    .about .filters li {
        color: #ffff;
        padding: 10px 25px;
        background: #191919;
        transition: 0.3s;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .about .filters li:hover,
    .about .filters li.active {
        background: var(--primary);
    }
    
    
    
    
    .stella-item {
        background: #fff;
        text-align: center;
        margin: 14px -317px 1px -57px;  ;
        padding: 50px 20px 40px 20px;
        border-radius: 8px 8px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    
    .stella-item:hover {
        background: #3956de;
        color:rgb(241, 215, 215);
    }
    
    .stella-item h3 {
        margin: 20px 0 1px 0 !important;
        color: #454545;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    
    .stella-info {
        display: block;
        margin-bottom: 0;
    }
    
    .stella-info p {
        color: #3f3b3b;
        font-style: italic;
    }
    
    .stella-description p {
        color: #3f3b3b;
        font-style: italic;
    }
    
    
    .stella-info::after{
        background: #008aff;
        background: -webkit-linear-gradient(
            135deg, #6B02FF 0%, #985BEF 100%
        );
        background: -o-linear-gradient(
            135deg, #6B02FF 0%, #985BEF 100%
        );
        background: -moz-linear-gradient(
            135deg, #6B02FF 0%, #985BEF 100%
        );
        background: linear-gradient(
            135deg, #6B02FF 0%, #985BEF 100%
        );
    
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 50px;
        height: 3px;
        margin-top: -20px;
    }
    
     .stella-pic{
        max-width: 140px;
        padding: 6px 6px;
        background-color: #dedede;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    } 
    
    ul.stella-icon  {
        margin-top: 25px;
    }
    
    ul.stella-icon li {
        display: inline-block;
        margin: 0 3px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    
    ul.stella-icon li a{
        margin: 0;
        display: inline-block;
        padding: 8px 8px;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 18px;
        background-color: #fff;
        border-radius: 50%;
        color: #fff;
    }
    
    ul.stella-icon li a.facebook {
        background-color: #4099ff;
    }
    
    ul.stella-icon li a.youtube {
        background-color: #c50b0b;
    }
    
        
    
    }
      