.footer {
    background: transparent;
    padding: 0 0 30px 0;
    font-size: 14px;
    cursor: url(/src/MyCursor.png) , auto; 
}

.footer .footer-top {
    background: url('/src/images/sonicfun.jpg') no-repeat left top;
    background-size: contain;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-info {
    margin-bottom: 30px;

}

.footer .footer-top .footer-info .logo {
line-height: 0;
margin-bottom: 15px;

}

.footer .footer-top .footer-info .logo span {
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 1px;
   color:#ffff;
   margin-top: 3px;
}

.footer .footer-top .footer-info p{
    color: #ffff;
    font-size: 14px;
    margin-top: 40px;
}

.footer .footer-top .social-links a{
    font-size: 1.5rem;
    display: inline-block;
    color: #fff;
    line-height: 0;
    margin-right: 15px;
    transition: 0.3s;
    text-decoration: none;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-contact p{
    line-height: 26px;
    color: #fff;
}


.footer .copyright{
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.footer .credits{
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ffff;
}

.footer .credits a{
    text-decoration: none;
    color:var(--primary)
}



@media screen and (max-width: 1037px) {


    
    .footer .footer-top .footer-info .logo {
        line-height: 0;
        margin-bottom: 15px;
        
        }
        
        .footer .footer-top .footer-info .logo span {
           font-size: 30px;
           font-weight: 700;
           letter-spacing: 1px;
           color:#ffff;
           margin-top: 3px;
           margin-left: 214px;
        }
        
        .footer .footer-top .footer-info p{
            color: #ffff;
            font-size: 14px;
            margin-top: 40px;
            margin-left: 214px;
        }
    
        .footer .footer-top .social-links a{
            font-size: 1.5rem;
            display: inline-block;
            color: #fff;
            line-height: 0;
            margin-right: -183px;
            margin-left: 209px;
            transition: 0.3s;
            text-decoration: none;
        }
    
        .footer .footer-top h4 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 12px;
            margin-right: -183px;
            margin-left: 194px;
        }
        
        .footer .footer-top .footer-contact p{
            line-height: 26px;
            color: #fff;
            margin-right: -183px;
            margin-left: 131px;
        }
        
    
    }
      






@media screen and (max-width: 768px) {


    
.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
    
    }
    
    .footer .footer-top .footer-info .logo span {
       font-size: 30px;
       font-weight: 700;
       letter-spacing: 1px;
       color:#ffff;
       margin-top: 3px;
       margin-left: 214px;
    }
    
    .footer .footer-top .footer-info p{
        color: #ffff;
        font-size: 14px;
        margin-top: 40px;
        margin-left: 214px;
    }

    .footer .footer-top .social-links a{
        font-size: 1.5rem;
        display: inline-block;
        color: #fff;
        line-height: 0;
        margin-right: -183px;
        margin-left: 209px;
        transition: 0.3s;
        text-decoration: none;
    }

    .footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px;
        margin-right: -183px;
        margin-left: -100px;
    }
    
    .footer .footer-top .footer-contact p{
        line-height: 26px;
        color: #fff;
        margin-right: -183px;
        margin-left: -100px;
    }
    

}
  