.movieposter .filters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
    cursor: url(/src/handpointing.png), pointer; 
}

.movieposter .filters li {
    color: #ffff;
    padding: 10px 25px;
    background: #191919;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;
    cursor: url(/src/handpointing.png), pointer; 
}

.movieposter .filters li:hover,
.movieposter .filters li.active {
    background: var(--primary);
    cursor: url(/src/handpointing.png), pointer; 
}