
.banner .playBtn {
    position: relative;
    color: #ffff;
    width: 80px;
    height: 80px;
    transition: 1s;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
    cursor: url(/src/handpointing.png), pointer; 

}


.banner .playBtn ion-icon {
    font-size: 4rem;
    color: var(--primary);
    cursor: pointer;
    cursor: url(/src/handpointing.png), pointer; 
}


.banner .playBtn::before{
    position: absolute;
    top: -5px;
    left: -10px;
    right: -5px;
    bottom: -5px;
    content: '';
    background: transparent;
    border: 10px solid #ffff;
    border-radius: 50%;
    animation: button 1s linear infinite;
    cursor: url(/src/handpointing.png), pointer; 
}

@keyframes button {
    0%,
    100% {
        opacity: 0.3;
        filter: blur(4px);
    }
    50% {
        opacity: 1;
        filter: blur(10px);
    }
}